In [1]:
# 시계열 그래프 그리기
import pandas as pd

df = pd.read_excel('./dataset_7/kto_total.xlsx')
df.head()

,국적,관광,상용,공용,유학/연수,기타,계,전년동기,성장률(%),구성비(%),기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,202825,1750,89,549,3971,209184,237816,-12.0,36.7,2010-01,아시아,97.0,22.9
1,대만,35788,41,17,37,516,36399,37425,-2.7,6.4,2010-01,아시아,98.3,4.0
2,홍콩,13874,55,0,21,595,14545,25207,-42.3,2.6,2010-01,아시아,95.4,1.6
3,마카오,554,0,0,0,0,554,955,-42.0,0.1,2010-01,아시아,100.0,0.1
4,태국,13374,39,13,53,4335,17814,13947,27.7,3.1,2010-01,아시아,75.1,1.5

In [2]:
from matplotlib import font_manager, rc
import platform 

if platform.system() == 'Windows': 
    path = 'c:/Windows/Fonts/malgun.ttf'
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
elif platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
else: 
    print('Check your OS system')

In [5]:
import matplotlib.pyplot as plt

df_filter = df[df.국적=='중국']
df_filter.head()

,국적,관광,상용,공용,유학/연수,기타,계,전년동기,성장률(%),구성비(%),기준년월,대륙,관광객비율(%),전체비율(%)
17,중국,40425,11930,55,2751,36091,91252,93007,-1.9,16.0,2010-01,아시아,44.3,4.6
77,중국,60590,7907,68,29546,42460,140571,127979,9.8,22.0,2010-02,아시아,43.1,6.9
137,중국,50330,13549,174,14924,62480,141457,111915,26.4,18.4,2010-03,아시아,35.6,5.7
197,중국,84252,13306,212,2199,47711,147680,107872,36.9,20.2,2010-04,아시아,57.1,9.5
257,중국,89056,12325,360,2931,49394,154066,86392,78.3,21.1,2010-05,아시아,57.8,10.1

In [ ]:
plt.